/backend/.web-server-pid
/backend/app/config/parameters.yml
/backend/build/
/backend/phpunit.xml
/backend/var/*
!/backend/var/cache
/backend/var/cache/*
!backend/var/cache/.gitkeep
!/backend/var/logs
/backend/var/logs/*
!backend/var/logs/.gitkeep
!/backend/var/sessions
/backend/var/sessions/*
!backend/var/sessions/.gitkeep
!backend/var/SymfonyRequirements.php
/backend/vendor/
/backend/web/bundles/
/frontend/node_modules
